<div *ngIf="id!=null">
  <h4>{{id}}:גליון ציונים עבור מבחן </h4>
  <br>

  <!-- pdf -->
  <div id="content" #content>
    <div>
      <!-- <p target="_blank" draggable="false"><abbr data-title="Look, a tooltip!">Hover me, too!</abbr></p> -->

      <button type="button" target="_blank" draggable="false"  class="btn btn-info"
        data-toggle="modal" data-target="#exampleModalCenterr" style="margin-left: 21vw;">
        <abbr data-title="הוספת תלמיד\ים">
          <i class="material-icons">
            group_add
          </i>
        </abbr>
      </button>
      <button type="button" target="_blank" draggable="false" class="btn btn-primary download" (click)="captureScreen()">

        
        <abbr data-title="הורדת גליון ציונים">
            <i class="material-icons">
                get_app
              </i>
          </abbr>
      </button>
      <button (click)="copyMessage(link)"target="_blank" draggable="false" class="btn btn-warning download" value="click to copy" >
          <abbr data-title="העתק לינק למבחן">
              <i class="material-icons" style="color: white">
                  link
                </i>
            </abbr>
      </button>
      <!-- <input type="button" value="הורדת גליון הציונים" class="btn btn-primary download" (click)="captureScreen()" /> -->
    </div>
  </div>

</div>

<div>
  <br>
  <!-- <table class="table table-hover" id="contentToConvert">
    <thead>
      <tr class="bg-primary">
        <th scope="col"></th>
        <th scope="col">תעודת זהות</th>
        <th scope="col">שם סטודנט</th>
        <th scope="col">ציון</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let mark of marks">
        <th scope="row">*</th>
        <td>{{mark.studentTZ}}</td>
        <td>{{mark.studentName}}</td>
        <td>{{mark.mark}}</td>
        <th><a href="">לצפיה במבחן של {{mark.studentName}}</a></th>
      </tr>

    </tbody>
  </table> -->
</div>
<!-- 
<div class="container"> -->

<div class="row">
  <div class="col">
    <img class="img1" src="../../assets/קפה.png" width="12vw;">
    <img class="img3" src="../../assets/עכבר.png" width="12vw;">
  </div>
  <div class="col-8">
    <table class="table table-hover" id="contentToConvert">
      <thead>
        <tr class="bg-primary">
          <th scope="col"></th>
          <th scope="col">תעודת זהות</th>
          <th scope="col">שם סטודנט</th>
          <th scope="col">ציון</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let mark of marks" class="trr">
          <th scope="row">*</th>
          <td>{{mark.studentTZ}}</td>
          <td>{{mark.studentName}}</td>
          <td>{{mark.mark}}</td>
          <!-- <div > -->
          <td *ngIf="mark.url!=null" class="tdImg">
            <a [href]="mark.url" [download]="mark.studentName" class="downloadtest"> <i class="material-icons"
                title="download the image">
                get_app
              </i></a>
            <a data-fancybox="gallery" [href]="mark.url">
              <figure><img [src]="mark.url" width="5vw" height="auto" class="geeks" class="testImg" /></figure>
            </a>
          </td>
          <td *ngIf="mark.url==null" class="tdImg">
            <a [href]="urls[0]" [download]="urls[0]" class="downloadtest"> <i class="material-icons"
                title="download the image">
                get_app
              </i></a>
            <a data-fancybox="gallery" [href]="urls[0]">
              <figure><img [src]="urls[0]" width="5vw" height="auto" class="geeks" class="testImg" /></figure>
            </a>
          </td>
          <!-- </div> -->
          <!-- <th><a href="">לצפיה במבחן של {{mark.studentName}}</a></th> -->
        </tr>

      </tbody>
    </table>

  </div>
  <!-- <div class="marginTop">
    <div class="col" >
      <div *ngFor="let url of urls" id="images">
        <div class="hover01 column">
          <div>
              <a [href]="url" download="url"class="downloadtest"> <i class="material-icons" title="download the image">
                  get_app
                </i></a>
            <a data-fancybox="gallery" [href]="url">
              <figure><img [src]="url" width="5vw" height="auto" class="geeks"class="imagetest" /></figure>
            </a>
           
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="col">
    <img class="img2" src="../../assets/עפרונות.png" width="13vw;">
    <img class="img4" src="../../assets/מקלדת.png" width="15vw;">
  </div>
</div>
<!-- </div> -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenterr" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">שמות התלמידים למבחן זה </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-upload #upload></app-upload>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="clearExcel()" class="btn btn-secondary" data-dismiss="modal">סיימתי</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>