.table {
    width: 55vw;
    margin-bottom: 1rem;
    margin-left: 4vw;
    /* margin: 0vw; */
    margin-right: 0vw;
    color: #212529;
}
.bg-primary {
    background-color: #007bff!important;
    color: white;
}
h4{
    text-align: center;
}
.download{
    margin-left: 1vw;
}
img{
    width: 14vw;
}
.img1,.img2{
    margin-top: -20vh;

}
// .img4{
//     width:16vw;
// }
// .img2{
//     margin-left: 0vw;
// }
// .img1{
//     margin-left: 7vw;
// }
.imagetest{
    width: 7vw;
    height: 9.5vh;
    margin-bottom: 0vh;
    margin-top: 0vh;
}
.trr{
   height: 12vh;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    width: 14vh;
}
//
.marginTop{
    margin-top: 9vh;
}
.downloadtest{
    float: left;
    margin-left: -2vw;
    margin-top: 0vh;
}
.tdImg{
    padding-bottom: 0vh;
    padding-top: 0.5vh;
}
.testImg{
    width: 6.5vw;
    height: 10vh;
}
// tooltip
/* Tooltip container */
abbr[data-title] {
    position: relative;
    text-decoration: underline dotted; 
  }
  abbr[data-title]:hover::after,
  abbr[data-title]:focus::after {
    content: attr(data-title);
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    width: auto;
    white-space: nowrap;
    background: rgb(78, 75, 75);
    color: white;
    border-radius: 2px;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
    font-size: 14px;
    padding: 3px 5px;
  }
  .img1[_ngcontent-mus-c2], .img2[_ngcontent-mus-c2] {
    margin-top: -15vh;
}