<div *ngIf="this.isok==1">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>שאלתך נוספה למאגר השאלות בהצלחה</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div *ngIf="this.isok==-1">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>שגיאה ! נסה להוסיף מאוחר יותר</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

{{questionId}}
<input type="button" value="הוסף למאגר" class="btn btn-primary " (click)="publicQuestion()" />


{{question.questionDescription}}
<div>
<h2 class="quiz-question"></h2>
<ul data-quiz-question="2"> 
 <mat-radio-group [(ngModel)]="question.selectedAnswer"> 
  <div *ngFor="let answer of question.Answers">

        <li class="quiz-answer" data-quiz-answer="a">
            <mat-radio-button [value]="answer" [name]="question.questionDescription">
            </mat-radio-button>
            {{answer.answerDescription}}
        </li>

    </div> 
</mat-radio-group>
 </ul>
</div>