<p>
  questionauto works!
</p>
<div>
<h2 class="quiz-question">{{question.questionDescription}}</h2>
<ul data-quiz-question="2">
<mat-radio-group [(ngModel)]="question.selectedAnswer">
    <div *ngFor="let answer of question.Answers">

        <li class="quiz-answer" data-quiz-answer="a">
            <mat-radio-button [value]="answer" [name]="question.questionDescription">
            </mat-radio-button>
            {{answer.answerDescription}}
        </li>

    </div>
</mat-radio-group>
</ul>
</div>