.alert-info {
    color: blue;
    background-color: white;
    border-color: blue;
    width: 29vw;
    margin-left: 37vw;
}
.alert-danger {
    color: maroon;
    background-color: white;
    border-color: maroon;
    width: 29vw;
    margin-left: 37vw;
}