<label>כותרת השאלה</label>
<!-- <div [froalaEditor]="options" [froalaModel] ="model"> </div> -->
<input type="text" [(ngModel)]="question.questionDescription" class="form-control" style="margin-left: 7vw;">
<br>
<label>מס' נקודות לשאלה</label>
<input type="number" class="form-control" [(ngModel)]="question.nikud">
<br>
<div>
  <p>תשובות אפשריות :</p>
  <!-- <p>מביא תיבות טקסט לתשובות ןמוסיף תיבה כשנגמר</p> -->
  <div class="answer-div" *ngFor="let ans of question.Answers">
    <button class="fl v-button" (click)="changeCorrectAnswer(ans)">V</button>
    <input type="text" class="fl answer-text form-control" [ngClass]="{'correct-answer':ans.isCorrect}"
      [(ngModel)]="ans.answerDescription" (change)="addLine()">
  </div>
</div>
<br>