
 
  <!-- <app-header></app-header> -->
 <app-header-manager></app-header-manager>
<!-- <app-upload></app-upload> -->
<app-try></app-try>
<router-outlet></router-outlet>
<!-- <app-test-list></app-test-list> -->


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<!-- <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div> -->


