.login-page{
    float: left;
    width: 100%;
    float: left;
    height: calc(100% - 50px);
    background-image: url("../../assets/backGroundLogin.png");
    background-repeat: no-repeat;
    background-size: cover;
    .login-nav{
        position: absolute;
        right: 650px;
        top: 200px;
    }
    .login-reg-content{
        position: absolute;
        top: 250px;
        right: 600px;
        width: 270px;
        height: 300px;
    }
}