.login-page{
    // float: left;
    // width: 100%;
    // float: left;
    // height: calc(100% - 50px);
    // background-image: url("../../assets/login.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    width: 100vw;
    height: 92vh;
    // margin-left: 12.5vw;
    height: calc(100% - 50px);
    background-image: url("../../assets/logincenter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .login-nav{
        position: absolute;
        top: 24vh;
        right: 42vw;
    
    }
    .login-reg-content{
        position: absolute;
        top: 38vh;
        right: 39vw;
        width: 270px;
        height: 300px;
    }
    z-index: 2000;
}
.f1{
    // margin-right: 0.5vw;
    margin-left: 1vw;
    width: 9vw;
}
.login-page[_ngcontent-htq-c2] .login-reg-content[_ngcontent-htq-c2] {
    position: absolute;
    top: 45vh;
    right: 34vw;
    width: 270px;
    height: 300px;
}
.btnsubmit{
    // margin-left: 4vw;
    // margin-top: 6vh;
    // background-color: red;
}
span{
    font-size: 2vw;
}
input[type=submit].btn-block {
    width: 93%;
    height: 29%;
    margin-top: 16vh;

    margin-left: 8.2vw;
    
}
.reg{
    width: 93%;
    height: 33%;
    margin-top: 10vh;
    margin-left: 8.2vw;
}