<div class="login-page" style="z-index: 1010">
    <div class="login-nav">

        <div *ngIf="status=='login'"  class="btn btn" (click)="status='login';clearTeacher()" style="margin-right: -4vw;"
            value="כניסה"><span>כניסה</span></div>
        <button *ngIf="status=='reg'"  class="btn btn" (click)="status='reg';clearTeacher()"style="margin-right: -4vw;"
            value="הרשמה"><span>הרשמה</span></button>
    </div>
    <div *ngIf="status=='login'" class="login-reg-content">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="material-icons">
                        person
                    </i></span>
            </div>
            <input type="text" [(ngModel)]="t.teacherName" class="form-control" placeholder="שם משתמש"
                aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="material-icons">
                        lock
                    </i></span>
            </div>
            <input type="text" [(ngModel)]="t.teacherPassword" class="form-control" placeholder="סיסמא"
                aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <button class="fl" class="btn btn-link" (click)="showEmailForPassword()"
        value="סיסמא" style="    padding: 0px;
        margin-right: 9vw;
        margin-top: -5.5vh;"><span style="font-size: 1.2vw;"> שכחתי סיסמא</span>
    </button>
    <div *ngIf="showPassword==true" class="input-group mb-3">
        <input type="text" [(ngModel)]="t.email" class="form-control"style="height: 5.8vh;" placeholder="הכנס כתובת מייל" aria-label="שלח" aria-describedby="basic-addon2">
        <div class="input-group-append"  (click)="Forgotpassword()">
          <button class="btn btn-outline-primary" title="שלח" type="button"><i class="material-icons">send</i></button>
        </div>
      </div>
    <div>
      <p id="p1">? אין לך חשבון עדיין</p> 
        <button class="fl" class="btn btn-link" (click)="status='reg';clearTeacher()"
        value="הרשמה" style="padding: 0px;"><span style="font-size: 1.2vw;"> הרשם</span></button>
        </div><!-- <div class="row">
            <p>הכנס שם</p>
            <input type="text" [(ngModel)]="t.teacherName">
        </div>
        <div class="row">
            <p>הכנס סיסמא</p>
            <input type="password" [(ngModel)]="t.teacherPassword">
        </div> -->
      
        <div class="row">
            <div class="btnsubmit">
                <input type="submit" (click)="login()" class="btn btn-primary btn-lg btn-block" value="הכנס"style="
                          width: 84%;
    height: 34%;
    margin-top: 10vh;
    margin-left: 8.7vw;">
            </div>
        </div>
    </div>
    <div *ngIf="status=='reg'" class="login-reg-content">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="material-icons">
                        person
                    </i></span>
            </div>
            <input type="text" [(ngModel)]="t.teacherName" class="form-control" placeholder="שם משתמש"
                aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="material-icons">
                        email
                    </i></span>
            </div>
            <input type="text" [(ngModel)]="t.email" class="form-control" placeholder="כתובת מייל"
                aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="material-icons">
                        lock
                    </i></span>
            </div>
            <input type="text" [(ngModel)]="t.teacherPassword" class="form-control" placeholder="סיסמא "
                aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <p id="p1">? יש לך כבר חשבון</p> 
        <button class="fl" class="btn btn-link" (click)="status='login';clearTeacher()"
        value="כניסה" style="padding: 0px;"><span style="font-size: 1.2vw;"> הכנס</span></button>
       
        <!-- <div class="row">
            <p>הכנס שם</p>
            <input type="text" [(ngModel)]="t.teacherName">
        </div>
        <div class="row">
            <p>הכנס מייל</p>
            <input type="text" [(ngModel)]="t.email">
        </div>
        <div class="row">
            <p>הכנס סיסמא</p>
            <input type="password" [(ngModel)]="t.teacherPassword">
        </div> -->
      
       
        <div class="row">
            <div class="btnsubmit">
                <input type="submit" (click)="register()"value="הרשם" class="btn btn-primary btn-lg btn-block reg" style=" 
           width: 84%;
    height: 48%;
    margin-top: 5.5vh;
    margin-left: 8.2vw;">
            </div>
        </div>
    </div>

</div>
<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->


<!-- הילבענוסזךףהיףךס -->