<div class="login-page" style="z-index: 1010">
    <div class="login-nav">
       
        <button class="fl" class="btn btn-primary" (click)="status='login';clearTeacher()" style="margin-left: 1vw;">login</button>
        <button class="fl"  class="btn btn-secondary"(click)="status='reg';clearTeacher()">registerr</button>
    </div>
    <div *ngIf="status=='login'" class="login-reg-content">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="material-icons">
                        email
                    </i></span>
            </div>
            <input type="text" [(ngModel)]="t.teacherName" class="form-control" placeholder="הכנס כתובת מייל" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="material-icons">
                        lock
                    </i></span>
            </div>
            <input type="text"[(ngModel)]="t.teacherPassword" class="form-control" placeholder="הכנס סיסמא" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        <!-- <div class="row">
            <p>הכנס שם</p>
            <input type="text" [(ngModel)]="t.teacherName">
        </div>
        <div class="row">
            <p>הכנס סיסמא</p>
            <input type="password" [(ngModel)]="t.teacherPassword">
        </div> -->
        <div class="row">
            <p></p>
            <input type="submit" (click)="login()" class="btn btn-dark">
        </div>
    </div>
    <div *ngIf="status=='reg'" class="login-reg-content">
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="material-icons">
                                person
                            </i></span>
                    </div>
                    <input type="text"[(ngModel)]="t.teacherName" class="form-control" placeholder="הכנס שם משתמש" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="material-icons">
                                email
                            </i></span>
                    </div>
                    <input type="text" [(ngModel)]="t.email" class="form-control" placeholder="הכנס כתובת מייל" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="material-icons">
                                    lock
                                </i></span>
                        </div>
                        <input type="text"[(ngModel)]="t.teacherPassword" class="form-control" placeholder="הכנס סיסמא " aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
        <!-- <div class="row">
            <p>הכנס שם</p>
            <input type="text" [(ngModel)]="t.teacherName">
        </div>
        <div class="row">
            <p>הכנס מייל</p>
            <input type="text" [(ngModel)]="t.email">
        </div>
        <div class="row">
            <p>הכנס סיסמא</p>
            <input type="password" [(ngModel)]="t.teacherPassword">
        </div> -->
        <div class="row">
            <p></p>
            <input type="submit" (click)="register()" class="btn btn-dark">
        </div>
    </div>

</div>
<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->


<!-- הילבענוסזךףהיףךס -->