#imgback{
background-image:url("../../../assets/קטגוריה.jpg");
// background-image: url("../../../assets/logincenter.jpg");
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
height: 97vh;
}