#imagetest{
    vertical-align: middle;
    border-style: none;
    width: 15vw;
    // margin-bottom: -15vh;
    margin-left: 0.7vw;
    margin-top: -15vh;
}
.blue{
    background-color: #1173de;
    margin-top: 11.5vh;
    width: 16vw;
    height: 11.3vh;
    margin-left: -1.5vw;
}
.card-title {
    color: white;
    float: right;
}
.icons{
    padding-top: 5vh;
}
.ico{
    font-size: 2vw;
    color: white;
}
// .card {
//     position: relative;
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-direction: column;
//     flex-direction: column;
//     min-width: 0;
//     word-wrap: break-word;
//     background-color: #fff;
//     background-clip: border-box;
//     border: 1px solid #1173de;
//     border-radius: .25rem;
// }
.card-footer{
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #1173de;
    margin-top: -2vh;
    width: 16.05vw;
    margin-left: -0.1vw;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #1173de;
    border-radius: 0.25rem;
    width: 16vw;
    height: 26vh;
    margin-bottom: 16vh;
    margin-top: 5vh;

}
.card-text{
    // margin-bottom: 0;
    margin-top: -4vh;
    float: right;
    font-size: 20px;
    color: #1173de;
}