<!-- <img src="../../../assets/איקון מבחן.png" id="imagetest"> -->
<!-- <div class="card" style="width: 16vw;height: 26vh;z-index: -10;">

  <div class="card-body">
    <div class="blue"> -->
      <!-- <h5 class="card-title">{{test.name}} </h5> -->
      <!-- <div class="icons">
        <a routerLink="/edit-test/{{test.testId}}">
          <i class="material-icons"style="font-size: 2.5vw;
          color: white;
          margin-left: 1vw;
   ">
            edit
          </i>
        </a>
        <a routerLink="/GradeChart/{{test.testId}}"><i class="far fa-chart-bar" style="font-size: 2vw;
          color: white;"></i></a>
        <a routerLink="/reports-teachers//{{test.testId}}"><i class="fas fa-tasks" style="font-size: 2vw;
          color: white;margin-left: 1vw;"></i></a>
      </div>
    </div>
  </div>
  <div class="card-footer bg-transparent border-success">Footer</div>
  <h5 class="card-title">{{test.name}} </h5>
</div> -->

<div class="card" >
  <img src="../../../assets/איקון מבחן.png" id="imagetest" class="card-img-top" alt="...">
  <div class="card-body">
    <!-- <h5 class="card-title">{{test.name}}</h5> -->
    <p *ngIf="test.name==null" class="card-text"> ללא כותרת </p>

    <p *ngIf="test.name"  class="card-text">  {{test.name}} </p>
  </div>
  <div class="card-footer">
      <div >
          <a routerLink="/edit-test/{{test.testId}}"title="עריכה" >
            <i class="fas fa-pencil-alt"style="font-size: 2vw;
            color: white;
          
     "></i>
            <!-- <i class="material-icons"style="font-size: 2.5vw;
            color: white;
          
     ">
              edit
            </i> -->
          </a>
          <a routerLink="/GradeChart/{{test.testId}}" title="סטטיסטיקה" style="margin-left: 1.4vw;"><i class="fas fa-tasks" style="font-size: 2vw;
            color: white;"></i></a>
          <a routerLink="/reports-teachers//{{test.testId}}"title="גליון ציונים והוספת תלמידים"style="    margin-left: 1.4vw;
          margin-right: 1.4vw;" ><i class="far fa-chart-bar" style="font-size: 2vw;
            color: white;"></i></a>
                <a routerLink="/GradeChart/{{test.testId}}" title="הוספת תלמיד\ים" style="cursor: pointer;"><i class="fas fa-user-plus" style="font-size: 2vw;
                  color: white;"></i></a> 
            <!-- <a  data-toggle="modal" data-target="#exampleModalCenterrr" title="הוספת תלמיד\ים" style="cursor: pointer;"><i class="material-icons" style="font-size: 2vw;
              color: white;">group_add</i></a>  -->

            <!-- <button type="button" target="_blank" draggable="false"  class="btn btn-info"
            data-toggle="modal" data-target="#exampleModalCenterrr" style="margin-left: 21vw;">
            <abbr data-title="הוספת תלמיד\ים">
              <i class="material-icons">
                group_add
              </i>
            </abbr>
          </button> -->
        </div>
    <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
  </div>
</div>
<div class="modal fade" id="exampleModalCenterrr" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">שמות התלמידים למבחן זה </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-upload></app-upload>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">סיימתי</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- <div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">{{test.name}}</h5>
   
    <a routerLink="/edit-test/{{test.testId}}"  class="btn btn-primary">עריכה</a>
    <a routerLink="/GradeChart/{{test.testId}}"  class="btn btn-secondary">גליון ציונים</a>
    <a routerLink="/reports-teachers//{{test.testId}}"  class="btn btn-info">סטטיסטיקות</a>
  </div>
</div> -->
<!-- <img src="../../../assets/ריבוע מבחן.png"> -->
<!-- 
<ul class="tilesWrap">
    <li>
      <h2>*</h2>
      <h3>{{test.name}}</h3>
      <p>
       the {{test.name}} is ....
       .........
       .........
       .........
       <img  src="../../../assets/great-checklist-background-with-pen-calculator_23-2147612123.jpg"
       width="10vw" height="auto" (click)="edit()" >
      </p> -->
<!-- <button routerLink="/edit-test/{{test.testId}}">Edit</button> -->
<!-- <button (click)="edit()">Edit</button>

    </li> -->

<!-- 
    <li>
        <h2>01</h2>
        <h3>Title 1</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting   
          industry. Lorem Ipsum has been the industry's standard dummy text ever 
          since the 1500s.
        </p>
        <button>Read more</button>
      </li> -->
<!-- <li>
        <h2>--*--</h2>
        <h3>+</h3>
        <p>
         Do you whant to create a new test of your own????
        </p>
        <button>creat</button>
      </li> -->


<!-- </ul> -->