<div  *ngIf="isOk==-1">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>שגיאה ! נסה להוסיף מאוחר יותר</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<label>id</label>
<input type="text" [(ngModel)]="studentTz">

<button (click)="sendStudentId()" class="btn btn-warning">התחל מבחן</button>

<div *ngIf="isOk==1">
    <div class="quiz" id="contentToConvertto">
        <div *ngFor="let question of test.questionArr">
            <h2 class="quiz-question">{{question.questionDescription}}</h2>
            <ul data-quiz-question="2">
           <mat-radio-group [(ngModel)]="question.selectedAnswer" >
                <div *ngFor="let answer of question.Answers" >
                    <li class="quiz-answer" data-quiz-answer="a" [ngClass]="{'correct-answer':isFinishTest&&answer.isCorrect}">
                        <mat-radio-button [value]="answer" [name]="question.questionDescription">
                        </mat-radio-button>
                        {{answer.answerDescription}}
                    </li>
                </div>
            </mat-radio-group>
            </ul>
        </div>
    </div>
  
    <button (click)="sendTest()" class="btn btn-success">
            <mat-icon aria-hidden="false" aria-label="done_outline">done_outline</mat-icon>סיום מבחן
        </button>
        <input type="button"  class="btn btn-primary"(click)="downloadPng()" value="הורד מבחן"> 
</div>
<div class="quiz-result"></div>