<!-- <main>
  
    <div class="example-elements">
      
      <p data-tooltip="לדף הבית" data-tooltip-location="left">
           <i class="material-icons">home</i>
      </p>
  
      <button
         data-tooltip="Example Tooltip"
        >
            Cool button
      </button>
      
    </div>
    
    
    
    
    <div class="info-wrapper">
      <p>
        <span class="title-question">
          You want a simple, animated & easy-to-use tooltip?
        </span>
        <span>
          Just copy all the CSS declarations blocks starting with
          <code>[data-tooltip].</code>
        </span>
      </p>
      <p 
         data-tooltip="This is an example of a super long tooltip text that goes over multiple lines. &#xa; &#xa; Note: The tooltip size is dynamically adjusted to the content. However, a minimum and a maximum width are defined."
         data-tooltip-location="bottom">
        To use the tooltip, simply add the attribute »data-tooltip« with the desired text to an element. P.S. Hover over me to see a long tooltip.
      </p>
    </div>
  </main> -->
<br><br><br><br><br>
  <!-- <a class="link" href="http://marcwiethe.de" target="_blank" draggable="false" data-tooltip="Tooltip uses experimental 'width: max-content', look it up on caniuse.com">hover 1.2 seconds</a> -->

<p target="_blank" draggable="false"><abbr data-title="Look, a tooltip!">Hover me, too!</abbr></p>