<div>
<p>
  מורה יקר\ה!
</p>
<p> ובו רשימת הנבחנים למבחן זה <span> excel </span>בבקשה העלי קובץ .</p>
<!-- <p>excel</p> -->
<!-- <p> ובו רשימת הנבחנים למבחן זה .</p> -->


<p>
  הקובץ אמור להכיל בעמודה הראשונה את מספר הזהות ובעמודה השניה את סיסמת התלמיד
</p>
<p>
    יש אפשרות להוריד קובץ לדוגמא ,למלא בו ואז להעלות אותו לכאן 
  </p>

 </div>
<mark>
הורד קובץ excel
</mark>
<a href="../../assets/example.xlsx" download>
  <i class="material-icons">
    arrow_downward
    </i>
</a>
<br><br><br>

<mark>
  העלה קובץ excel
    </mark>
<input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
<!-- <i type="button" class="material-icons" (click)="Upload()" >arrow_upward</i> -->
<br>
<!-- 
<a title="Upload excel" class="social-link" target="_blank">
  <i id="file-icon" for="upload" class="material-icons">backup</i>
  <input type='file'accept=".xlsx" id="upload" name='myfile' (change)="incomingfile($event)"
   >
</a> -->
<!--   
<input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
<button type="button" class="btn btn-info" (click)="Upload()" >Upload</button> -->
