
<app-categories-tree style="
width:200px;
float:right;
color: white;
background-color: #1173de;
height: 100vh;
" (NodeClicked)="nodeClicked($event)"></app-categories-tree>

<div *ngIf="category">
    <h4 style="    color: #1173de;
    padding-top: 5vw;
    padding-left: 2vw;">מבחנים ב{{category.name}}  </h4>
    <i class="material-icons" style="    color: #1173de;
    font-size: 4.5vw;
    margin-left: 3vw;
    margin-top: 5vh;
    cursor: pointer;" (click)="addNewTest()">
        add_circle
        </i>
   
    
    <div style=" display: inline;">
       
   <app-test-cards *ngFor="let test of tests" [(test)]="test" style="float: right;width:270px;margin:10px"></app-test-cards>
</div>
</div>




<!-- try -->
