<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="testitprojectEntities" connectionString="metadata=res://*/checkTestEntities.csdl|res://*/checkTestEntities.ssdl|res://*/checkTestEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LK638S7;initial catalog=testitproject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="checkTestEntities" connectionString="metadata=res://*/checkTestEntities.csdl|res://*/checkTestEntities.ssdl|res://*/checkTestEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LK638S7;initial catalog=testitproject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    </connectionStrings>


</configuration>