<!-- <img src="../../assets/test11.png" id="image1"> -->
<div *ngIf="selectedCategory" class="pos">
  <h2 *ngIf="title !=null">{{title}}</h2>
<input type="text" placeholder="הכנס כותרת למבחן" id="input" [(ngModel)]="testName">
</div>


<!-- https://www.npmjs.com/package/ngx-modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true" style="position: absolute;top:20vh">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="direction: rtl;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">+הוספת שאלה</h5>
<!--        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
     <!-- aaa -->
     <ul id="myUL" >

  <li *ngFor="let que of questions"><button type="button" (click)="PushQuestion(que)" class="btn btn-primary">הוספה</button>
    <span (click)="showAnswers($event)" class="caret">{{que.questionDescription}}</span>
    <ul class="nested">
      <li *ngFor="let ans of que.Answers">*  {{ans.answerDescription}}</li>

    </ul>
  </li>
</ul>
<h3 *ngIf="questions==null">לא נבחר נושא המבחן </h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">סגור</button>
        <!-- <button type="button" (click)="PushQuestion()" class="btn btn-primary">הוספה</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Vוספת שאלה אישית -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="direction: rtl; text-align: right;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">+הוספת שאלה</h5>
        <!-- <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      
      <div class="modal-body">
        <app-create-data-question [(question)]="currentQuestion"></app-create-data-question>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" class="btn btn-outline-info" data-dismiss="modal">סגור</button>
        <button type="button" class="btn btn-secondary" class="btn btn-outline-danger" (click)="PushNewQuestion()" data-dismiss="modal">הוסף</button>
        <!-- <button type="button" class="btn btn-primary">הוספה</button> -->
      </div>
    </div>
  </div>
</div>



<br>
<br>
<div class="dropdown" style="margin-top: 30vh;
text-align: right;
direction: rtl;
margin-right: 18vw;
">
  <button style="margin-left: 1vw;" class="btn btn-primary dropdown-toggle" id="exampleModalLongTitle" class="btn btn-primary" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   הוספת שאלה+ 
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    
    <button type="button" (click)="getQuestion()" class="dropdown-item" class="btn btn-warning wi"  data-toggle="modal" data-target="#exampleModalCenter">
     TestIt שאלה ממאגר 
    </button><br>
    <button type="button" id="openModalBtn" (click)="createNewQuestion()" class="dropdown-item" class="btn btn-danger wi" data-toggle="modal" data-target="#exampleModalCenter2">
 
     שאלה אישית
    </button>
  
    
  </div>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-info" style=" 
/* position: absolute !important; */
top: -63vh;
right: 26vw;
z-index: 100;
height: 6vh;margin-left: 1vw;" data-toggle="modal" data-target="#exampleModalCenterr">
    הכנס רשימת תלמידים
   </button>
  <button style="
   /* position: absolute !important; */
  top: -63vh;
  right: 36.5vw;
  z-index: 100;
  height: 6vh;
  background-color: #fdcd20;
  border-color: #fdcd20;margin-left: 1vw;" class="btn btn-info" (click)="saveTest()"> שמור מבחן</button>
</div>


<div  class="card-deck" style="direction: rtl;text-align: right;">
    <app-display-question *ngFor="let ques of test.questionArr" [questions]="ques" (q)="RemoveQuestion($event)"  (editQuestionEvent)="editQuestion($event)"  ></app-display-question>
  
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenterr" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">שמות התלמידים למבחן זה </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-upload></app-upload>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">סיימתי</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>