
<header>
  
    <a href="https://www.linkedin.com/in/sutharmayur" id="logo" target="_blank" style="text-decoration:none" > TestIt</a>
    
    <label for="toggle-1" class="toggle-menu"><ul><li></li> <li></li> <li></li></ul></label>
    <input type="checkbox" id="toggle-1">
    
    <nav>
    <ul>
    <li><a href="#logo" style="text-decoration:none"><i class="icon-home"></i>Home</a></li>
    <li><a href="#about" style="text-decoration:none"><i class="icon-user"></i>About</a></li>
    <!-- <li><a href="#portfolio"style="text-decoration:none"><i class="icon-thumbs-up-alt"></i>Portfolio</a></li> -->
    <li><a href="#gallery" style="text-decoration:none" routerLink="/search"><i class="icon-picture"></i>search</a></li>
    <li><a href="#services" style="text-decoration:none" routerLink="/AddQuestion"><i class="icon-gear"></i>add question</a></li>
    <li><a href="#services" style="text-decoration:none" routerLink="/AddCategory"><i class="icon-gear"></i>add category</a></li>
    <li><a href="#services" style="text-decoration:none"routerLink="/reports"><i class="icon-gear"></i>Statistics</a></li>
    <li><a href="#contact" style="text-decoration:none"><i class="icon-phone"></i><i class="material-icons" id="person">person</i></a></li>
    </ul>
    </nav>
    </header>
   
  
    